* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

main {
  text-align: center;
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      font-size: 1.5rem;

      a.active {
        font-weight: bold;
      }
    }
  }
}

header {
  text-align: center;

  h1 {
    font-size: 3rem;
  }
}
